body {
  background-color: $bodyColor;
}
.header {
  background-color: $backgroundDark;
  img {
    width: 60px;
  }
}
/* main {
  height: 100vh;
} */
.wrapper {
    width: 50%;
    margin: 0 auto;
    padding-top: 50px;
    .box {
      @include regoleFlex;
      .box_img {
        flex-basis: calc((100% / 3) - 60px);
        text-align: center;
        margin: 15px 30px;
        background-color: $backgroundDark;
        color: $textWhite;
        padding: 10px;
        img {
          display: block;
          width: 80%;
          margin: auto;
        }
      }
    }
}


h2 {
  font-size: $h2FontSize;
  margin: 10px;
}

h3 {
  color: $h3Color;
  font-size: $h3FontSize;
}
