<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <title>Document</title>
</head>
<body>
  <!-- body background -->
  <section>
    <div class="body-header-top"></div>
    <div class="body-header-bottom"></div>
  </section>
  <!-- /body background -->

  <!-- wrapper  -->
  <div class="wrapper">

    <!-- main nav -->
  <section class="main-nav">

    <!-- main nav header -->
    <section class="main-nav-header">
        <img class="omini" src="./img/avatar_1.jpg" alt="">
      <div class="icone">
        <i class="fas fa-circle-notch"></i>
        <i class="fas fa-comment-alt"></i>
        <i class="fas fa-ellipsis-v"></i>
      </div>
    </section>
    <!-- /main nav header -->

    <!-- notifiche -->
    <section class="notifiche">
        <div class="sfondo-campana">
          <i class="fas fa-bell-slash stile_campana"></i>
        </div>
        <div class="mess">
          <p>Ricevi notifiche dei nuovi messaggi</p>
          <a href="#">Attive notifiche desktop </a>
        </div>
    </section>
    <!-- /notifiche -->

    <!-- cerca -->
    <section class="cerca">
      <div class="wrapper-input">
        <div class="search-icon">
          <i class="fas fa-search search_click"></i>
        </div>
        <input class="cerca-chat" type="text" name="contact-name" value="" placeholder="Cerca o inizia una nuova chat">
      </div>
    </section>

    <!-- /cerca -->

    <!-- lista utenti -->
    <section class="lista-utenti">
      <ul class="lista-contatti">
        <li class="elemento-contatto active" data-contact="0">
          <div class="avatar">
            <img src="img/avatar_3.jpg" alt="Pincopallo">
          </div>
          <div class="info">
            <div class="persona">
              <p class="nomi">Michele</p>
              <small class="contact-time">Ultimo accesso oggi alle 17.49</small>
            </div>
            <div class="contact-info-bottom">
              <p>è disponibile</p>
            </div>
          </div>
          </li>
        <li class="elemento-contatto" data-contact="1">
          <div class="avatar">
            <img src="img/avatar_4.jpg" alt="Pincopallo">
          </div>
          <div class="info">
            <div class="persona">
              <p class="nomi">Fabio</p>
              <small class="contact-time">Ultimo accesso oggi alle 21.30</small>
            </div>
            <div class="contact-info-bottom">
              <p>è disponibile</p>
            </div>
          </div>
          </li>
        <li class="elemento-contatto" data-contact="2">
          <div class="avatar">
            <img src="img/avatar_5.jpg" alt="Pincopallo">
          </div>
          <div class="info">
            <div class="persona">
              <p class="nomi">Samuele</p>
              <small class="contact-time">Ultimo accesso oggi alle 19.45</small>
            </div>
            <div class="contact-info-bottom">
              <p>è disponibile</p>
            </div>
          </div>
          </li>
          <li class="elemento-contatto" data-contact="3">
      <div class="avatar">
        <img src="img/avatar_6.jpg" alt="Pincopallo">
      </div>
      <div class="info">
        <div class="persona">
          <p class="nomi">Claudia</p>
          <small class="contact-time">Ultimo accesso oggi alle 16.35</small>
        </div>
        <div class="contact-info-bottom">
          <p>è disponibile</p>
        </div>
      </div>
      <li class="elemento-contatto" data-contact="4">
        <div class="avatar">
          <img src="img/avatar_7.jpg" alt="Pincopallo">
        </div>
        <div class="info">
          <div class="persona">
            <p class="nomi">Alessandro</p>
            <small class="contact-time">Ultimo accesso oggi alle 17.40</small>
          </div>
          <div class="contact-info-bottom">
            <p>è disponibile</p>
          </div>
        </div>
        </li>
        <li class="elemento-contatto" data-contact="5">
          <div class="avatar">
            <img src="img/avatar_8.jpg" alt="Pincopallo">
          </div>
          <div class="info">
            <div class="persona">
              <p class="nomi">Davide</p>
              <small class="contact-time">Ultimo accesso oggi alle 14.59</small>
            </div>
            <div class="contact-info-bottom">
              <p>è disponibile</p>
            </div>
          </div>
          </li>
          <li class="elemento-contatto" data-contact="6">
            <div class="avatar">
              <img src="img/avatar_io.jpg" alt="Pincopallo">
            </div>
            <div class="info">
              <div class="persona">
                <p class="nomi">Mario</p>
                <small class="contact-time">Ultimo accesso oggi alle 15.55</small>
              </div>
              <div class="contact-info-bottom">
                <p>è disponibile</p>
              </div>
            </div>
            </li>
            <li class="elemento-contatto" data-contact="7">
              <div class="avatar">
                <img src="img/avatar_2.jpg" alt="Pincopallo">
              </div>
              <div class="info">
                <div class="persona">
                  <p class="nomi">Federico</p>
                  <small class="contact-time">Ultimo accesso oggi alle 00.40</small>
                </div>
                <div class="contact-info-bottom">
                  <p>è disponibile</p>
                </div>
              </div>
              </li>
              <li class="elemento-contatto" data-contact="8">
                <div class="avatar">
                  <img src="img/avatar_1.jpg" alt="Pincopallo">
                </div>
                <div class="info">
                  <div class="persona">
                    <p class="nomi">Carmelo</p>
                    <small class="contact-time">Ultimo accesso oggi alle 00.00</small>
                  </div>
                  <div class="contact-info-bottom">
                    <p>è disponibile</p>
                  </div>
                </div>
                </li>
              </ul>
    </section>
    <!-- /lista utenti  -->

  </section>
  <!-- /main nav -->

  <!-- main content -->

  <section class="main-content">
    <div class="main-content-header">
      <div class="dati">
      <img class="omini" src="./img/avatar_2.jpg" alt="">
        <div class="contact-active">
          <p class="contact-name">Federico </p>
          <small class="contact-time">Ultimo accesso oggi alle 15.40</small>
        </div>
      </div>
    <div class="icone">
      <i class="fas fa-search"></i>
      <i class="fas fa-paperclip"></i>
      <i class="fas fa-ellipsis-v"></i>
    </div>
    </div>
    <div class="col-right-messages active" data-contact="0">
      <div class="message sent">
        <div class="message-top">
          <p class="message-text">Ciao come stai?</p>
          <i class="fa fa-chevron-down f-right message-options"></i>
        </div>
        <div class="message-bottom">
          <small class="message-time">10:40</small>
        </div>
      </div>
      <div class="message received">
        <div class="message-top">
          <p class="message-text">Bene tu?</p>
          <i class="fa fa-chevron-down f-right message-options"></i>
        </div>
        <div class="message-bottom">
          <small class="message-time">10:40</small>
        </div>
      </div>
      <div class="message sent">
        <div class="message-top">
          <p class="message-text">Tutto bene</p>
          <i class="fa fa-chevron-down f-right message-options"></i>
        </div>
        <div class="message-bottom">
          <small class="message-time">10:40</small>
        </div>
      </div>
    </div>
    <div class="col-right-messages" data-contact="1">
      <div class="message sent">
        <div class="message-top">
          <p class="message-text">Ciao!</p>
          <i class="fa fa-chevron-down f-right message-options"></i>
        </div>
        <div class="message-bottom">
          <small class="message-time">10:40</small>
        </div>
      </div>
      <div class="message received">
        <div class="message-top">
          <p class="message-text">Bene tu?</p>
          <i class="fa fa-chevron-down f-right message-options"></i>
        </div>
        <div class="message-bottom">
          <small class="message-time">10:40</small>
        </div>
      </div>
      <div class="message sent">
        <div class="message-top">
          <p class="message-text">Tutto bene</p>
          <i class="fa fa-chevron-down f-right message-options"></i>
        </div>
        <div class="message-bottom">
          <small class="message-time">10:40</small>
        </div>
      </div>
    </div>
    <div class="col-right-messages" data-contact="2">
      <div class="message sent">
        <div class="message-top">
          <p class="message-text">Ehy come va?</p>
          <i class="fa fa-chevron-down f-right message-options"></i>
        </div>
        <div class="message-bottom">
          <small class="message-time">10:40</small>
        </div>
      </div>
      <div class="message received">
        <div class="message-top">
          <p class="message-text">Bene tu?</p>
          <i class="fa fa-chevron-down f-right message-options"></i>
        </div>
        <div class="message-bottom">
          <small class="message-time">10:40</small>
        </div>
      </div>
      <div class="message sent">
        <div class="message-top">
          <p class="message-text">Tutto bene</p>
          <i class="fa fa-chevron-down f-right message-options"></i>
        </div>
        <div class="message-bottom">
          <small class="message-time">10:40</small>
        </div>
      </div>
    </div>
    <div class="main-content-footer">
      <i class="far fa-smile-wink smile"></i>
      <input class="send-message" type="text" name="" value="" placeholder="Scrivi un testo">
      <div class="icon-send">
        <i class="fas fa-paper-plane black"></i>
      </div>
    </div>
  </section>
  <!-- /main content  -->

  <!-- clone -->
  <div class="template">
    <div class="message">
      <div class="message-top">
          <p class="message-text"></p>
          <i class="fa fa-chevron-down f-right message-options"></i>
          <ul class="message_menu">
            <li>Info messaggio</li>
            <li class="delete-message">Cancella messaggio</li>
          </ul>
        </div>
        <div class="message-bottom">
        <small class="message-time"></small>iv
      </div>
    </div>
  </div>
 </div>
 <!-- /wrapper -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
